.custom-header {
    grid-area: app-header;
    z-index: 100;
    background-color: #2C4251;
    top: 0;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
  }
  
  .custom-header .custom-header-list li a {
    padding: 20px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .custom-header .navbar-toggler-icon path {
    stroke: #FFFFFF;
  }
  
  @media screen and (min-width: 1400px) {
    .custom-header {
      padding: 0px 112px !important;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .custom-header {
      padding: 0px 80px;
    }
  }
  
  .custom-header .custom-header-list {
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 0;
  }
  
  @media screen and (max-width: 992px) {
    .custom-header .custom-header-list li {
      height: 50px;
      width: 100%;
      padding-left: 30px;
    }
  }
  
  .custom-header .custom-header-list li .nav-item {
    padding: 20px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
  }
  
  @media screen and (min-width: 1400px) {
    .custom-header .custom-header-list li .nav-item {
      padding: 20px 12px;
    }
  }
  
  .custom-header .custom-header-list li .nav-item:hover,
  .custom-header .custom-header-list li .custom-dropdown-item:hover {
    font-weight: 500;
  }
  
  .custom-header .custom-header-list li .custom-dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(69, 69, 69, 0.08), 0px 14px 28px rgba(67, 67, 67, 0.15);
    border-radius: 4px;
    border: 0;
  }
  
  .custom-header .custom-header-list li .custom-dropdown-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #507A9B !important;
    padding: 12px;
    text-decoration: none;
  }
  
  .custom-header .custom-header-rightside {
    display: flex !important;
    align-items: center !important;
    gap: 24px !important;
    justify-content: flex-end !important;
  
  }
    
  .custom-navbar {
    background-color: #2C4251;
  }
  
  .custom-navbar-logo {
    height: 64px !important;
  }
  
  .custom-nav-list {
    margin: 0 !important;
  }
  
  @media screen and (max-width: 992px) {
    .custom-navbar {
      top: 60px;
      left: -22px;
      background: #2C4251;
      width: 200px !important;
      justify-content: center;
      align-items: baseline;
      height: calc(100vh - 65px) !important;
      display: none;
    }
  }
  
  @media screen and (max-width: 992px) {
    .custom-navbar-list-dropdown {
      position: absolute;
      background: #2C4251;
      left: -21px;
      padding: 0 26px;
      top: 61px;
      padding-bottom: 24px;
    }
  }
  
